body{
  background-color: #f6e4cc;
  font-family: sans-serif;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #3d210d;
}

.PieGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto, auto, auto;
  padding: 10px;
}

.PieContent{
  border-width: 3px;
  border-color: #3d210d;
  border-style: solid;
  border-radius: 12px;
  margin: 20px;
  height: 450px;
}

.OrderTab{
  grid-row: span 2;
  border-width: 3px;
  border-color: #3d210d;
  border-style: solid;
  border-radius: 12px;
  margin: 20px;
}

.DrinksMenu, .ComboMenu{
  border-width: 3px;
  border-color: #3d210d;
  border-style: solid;
  border-radius: 12px;
  margin: 20px;
  height: 450px;
}

.LogoImage{
  max-width: 20%;
}

.PieImage{
  max-width: 90%;
}

hr{
  border: none;
  height: 2px;
  background-color: black;
}